$colors-bkgd: #F8F5F2;
$block-border: #E0D7CC;    // PRIMARY[200]
$text-light: #FFFFFF;      // GRAY[50
$text-dark--aaaa: #252118; // GRAY[900]
$text-dark--aaa: #3E3728;  // GRAY[800]
$text-dark--aa: #6F6449;   // GRAY[600]
$text-dark--link: #AA0951; // PRIMARY[600]
$colors-primary: #AA0951;  // PRIMARY[600]
