@font-face {
  font-family: 'Barlow';
  src: font-url('Barlow-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Barlow';
  src: font-url('Barlow-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Barlow';
  src: font-url('Barlow-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Barlow';
  src: font-url('Barlow-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Barlow';
  src: font-url('Barlow-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Barlow';
  src: font-url('Barlow-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: font-url('BarlowCondensed-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Judson';
  src: font-url('Judson-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Judson';
  src: font-url('Judson-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Judson';
  src: font-url('Judson-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}